<template>
  <div>
    Nuxt module playground!
  </div>
</template>

<script setup>
import {useAsyncData} from "#app";
import {usePayloadGraphQL} from "../src/runtime/composables/usePayloadGraphQL";
import {gql} from "graphql-request";
const payloadGraphQL = usePayloadGraphQL();

useAsyncData(async ()=>{
  const users = await payloadGraphQL(gql`
  query Users{
    Users{
      docs{
        id
      }
    }
  }
  `)
  console.log(users)
})
</script>
